GameClient/Library/AnnotationManager
GameClient/Library/assetDatabase3
GameClient/Library/AssetImportState
GameClient/Library/BuildPlayer.prefs
GameClient/Library/
GameClient/Temp/
GameClient/UnityPackageManager/